/* ============== CSS variables ============== */
:root {
  /* ============== Colors ============== */

  --content-color: #fafafa;
  --body-color: #e6e6e6;

  --error: #d32f2f;
  --success: #2e7d32;
  --primary: #1976d2;
  --white: #ffffff;

  /* ============== Font and typography ============== */

  --body-font: "Roboto", sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.8rem;
  --h3-font-size: 1.45rem;
  --h4-font-size: 1.2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8rem;
  --rounder-size: 1rem;
  --line-translation: 7px;

  /* ============== Font weight ============== */

  --font-medium: 500;
  --font-semi-bold: 600;

  /* ============== Margin ============== */

  --m-1: 0.5rem;
  --m-2: 1rem;
  --m-3: 1.5rem;
  --m-4: 2rem;
  --m-5: 3rem;
}

/* ============== General styles ============== */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  background: var(--body-color);
  padding: 2rem;
}

/* ============== CRUD Form ============== */

.crud-form {
  padding: 1rem 2rem;
}

.crud-form__container {
  margin: 2rem 0 0.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 5rem;
  justify-items: center;
}

.crud-form__input {
  width: 70%;
  max-width: 25rem;
}

.crud-form__input-date {
  width: 40%;
  max-width: 12rem;
  justify-self: center;
}

.crud-form__hr {
  margin: 0 1rem;
}

.crud-form__btn-container {
  grid-column: 1 / 3;
  margin: 2rem 0;
  padding: 0 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.crud-form__btn {
  width: 7rem;
}

/* ============== CRUD Form Search ============== */

.crud-form-search {
  padding: 1rem 2rem 0 2rem;
}

.crud-form-search__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem;
}

.crud-form-search__container {
  display: flex;
  align-items: center;
}

.crud-form-search__input {
  width: 20rem;
}

.crud-form-search__hr {
  margin: 0 1rem;
}

/* ============== MyTable ============== */

.mytable {
  background: #ffffff;
  padding: 1rem 0 0 0;
  position: relative;
}

.mytable__head-row,
.mytable__body-row {
  display: grid;
  grid-template-columns:
    minmax(8rem, 1fr) minmax(8rem, 1fr) minmax(17rem, 1.5fr)
    minmax(9rem, 0.5fr) 5rem minmax(11rem, 1fr);
}

.mytable__head {
  z-index: 1;
  background-color: white;
  position: sticky;
  top: 0;
}

.mytable__head {
  font-weight: 700;
}

.mytable__head-cell {
  border-block-end: 3px solid #000;
  position: relative;
  padding: 0.5rem 0 !important;
}

.mytable__head-cell,
.mytable__body-cell,
.mytable__body-cell--center {
  padding: 0.2rem 0;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  word-break: break-all;
}

.mytable__body-row {
  border-bottom: 2px solid #ddd;
}

.mytable__body-row:hover {
  background: #f5f5f5;
}

.mytable__body-cell {
  justify-content: start;
  padding: 0 1rem;
}

.mytable__body-cell:first-child {
  border-left: 0;
}

.mytable__body-cell:last-child {
  border-right: 0;
}

/* ============== MyTable Collapse ============== */

.mytable-collapse {
  grid-column: 1 / 10;
}

.mytable-collapse__container {
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.mytable-collapse__item {
  min-width: 17rem;
  flex-grow: 1;
  flex-basis: 10rem;
  text-align: center;
}

.mytable-collapse__title {
  font-weight: bold;
  padding: 0.35rem 0;
  border-bottom: 2px solid #ddd;
}

.mytable-collapse__data {
  padding: 0.35rem 0;
  border-bottom: 2px solid #ddd;
}

/* ============== CRUD Pagination ============== */

.pagination {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__msg {
  min-width: 175px;
}

.pagination__rows {
  margin: 1rem !important;
  min-width: 100px !important;
}

.pagination__nav ul {
  justify-content: center !important;
}

/* ============== CRUD Modal ============== */

.crud-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  background: var(--white);
  border-radius: 1rem;
  padding: 1.5rem;
}

.crud-modal__btn-container {
  grid-column: 1 / 3;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crud-modal__btn {
  width: 7rem;
}

.crud-modal__hr {
  margin: 1.5rem 0;
}

/* ============== Tamaño tablet horizontal (1024-768) ============== */

@media screen and (max-width: 1024px) {
  /* ============== CRUD Form ============== */

  .crud-form {
    padding: 1rem;
  }

  .crud-form__container {
    gap: 1rem 1rem;
  }

  .crud-form__input {
    width: 90%;
  }

  .crud-form__input-date {
    width: 50%;
  }

  /* ============== CRUD Form Search ============== */

  .crud-form-search {
    padding: 1rem 1rem 0 1rem;
  }

  .crud-form-search__input {
    width: 12rem;
  }

  .crud-form-search__hr {
    margin: 0 1rem;
  }

  /* ============== MyTable ============== */

  .mytable__head-row,
  .mytable__body-row {
    display: grid;
    grid-template-columns:
      minmax(7rem, 1fr) minmax(7rem, 1fr) minmax(8rem, 0.5fr)
      4rem minmax(11rem, 1fr);
    text-align: center;
  }
}

/* ============== Tamaño tablet (768-640) ============== */

@media screen and (max-width: 768px) {
  /* ============== CRUD Form ============== */

  .crud-form__input-date {
    width: 70%;
  }

  .crud-form__btn-container {
    padding: 0 1rem;
  }

  /* ============== CRUD Form Search ============== */

  .crud-form-search__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  /* ============== MyTable ============== */

  .mytable__head-row,
  .mytable__body-row {
    display: grid;
    grid-template-columns:
      minmax(6rem, 1fr) minmax(6rem, 1fr)
      4rem minmax(9rem, 1fr);
    text-align: center;
  }

  .mytable__actions {
    display: flex;
  }

  /* ============== CRUD Pagination ============== */

  .pagination {
    flex-direction: column;
    justify-content: center;
  }
}

/* ============== Tamaño (640 - 480) ============== */

@media screen and (max-width: 639px) {
  /* ============== MyTable Collapse ============== */

  .mytable-collapse__container {
    align-items: center;
  }

  .mytable-collapse__item {
    display: flex;
    text-align: left;
  }

  .mytable-collapse__title {
    min-width: 9rem;
    flex-grow: 1;
    flex-basis: 9rem;
  }

  .mytable-collapse__data {
    flex-grow: 2;
    flex-basis: 10rem;
  }
}

/* ============== Tamaño teléfonos (480-menos ) ============== */

@media screen and (max-width: 480px) {
  /* ============== CRUD Form ============== */

  .crud-form__container {
    gap: 0.5rem 0.5rem;
  }

  .crud-from__input {
    width: 100%;
  }

  .crud-form__input-date {
    width: 90%;
  }
}

/*  Orientación: Vertical */
@media screen and (orientation: portrait) {
}

/* Orientación: Horizontal  */
@media screen and (orientation: landscape) {
}

/* iPhone - Orientación: Vertical */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
}

/* iPhone - Orientación: Horizontal  */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
}

/* iPad - Orientación: Vertical */
@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad - Orientación: Horizontal  */
@media screen and (min-device-width: 481px) and (orientation: landscape) {
}

/* Rotura 480px */
