/* ============== General styles ============== */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* ============== CRUD Form Search ============== */

.crud-form-search {
  padding: 1rem;
}

.crud-form-search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ============== MyTable ============== */

.mytable__body-cell {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.MuiCheckbox-root {
  padding: 0 0.5rem !important;
}

/* ============== CRUD Pagination ============== */

.pagination {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__msg {
  min-width: 175px;
}

.pagination__rows {
  margin: 1rem !important;
  min-width: 100px !important;
}

.pagination__nav ul {
  justify-content: center !important;
}
