* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 1rem;
    padding: 1rem;
    width: calc(100% - 2rem);
}

.form {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid #ccc;
}

.tabla {
    margin-top: 1rem;
    padding: 0.5rem;
}

.fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
